@import url('https://fonts.googleapis.com/css?family=Raleway:200');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  color: white;
  font-family: 'Raleway';
}

/* Css separado para nao colocar o font-size para todo o body */
.text-large {
  font-size: 2.5rem;
}

#nomeJogadores {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 1rem auto;
}

#nomeJogadores > div {
  margin: 0 0 0.75rem;
  display: block;
  width: 100%;
}

#nomeJogadores > div > label {
  font-size: 0.875rem;
}

#nomeJogadores input {
  border-radius: 10px;
  padding: 0.5rem 0.5rem;
  width: 100%;
  max-width: 18rem;
  margin-top: 0.25rem;
  font-size: 1rem;
}

button.btn-primary {
  width: 100%;
  max-width: 14rem;
  padding: .75rem 2rem;
  font-size: 1rem;
  color: #FFF;
  border: solid 2px #FFF;
  background-color: transparent;
  cursor: pointer;
  transition: 0.4s;
  margin: 1.25rem auto 0;
}

button.btn-primary:hover {
  background-color: #FFF;
  color: #222;
}

#nomeJogadores > button {
  margin-top: 0.5rem;
}

#jogo {
  --borderWidth: 3px;
  position: relative;
  border-radius: 3px;
}

#jogo::after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedGradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

.linha {
  height: 150px;
  display: flex;
  border-bottom: 2px dashed;
}

.linha:last-child {
  border-bottom: none;
}

.casa {
  width: 150px;
  cursor: pointer;
  position: relative;
  background-size: contain;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  border-right: 2px dashed whitesmoke;
}

.casa:last-child {
  border-right: none;
}

#resultado {
  top: 64px;
  position: absolute;
}

.currentPlayer {
  display: flex;
  align-items: center;
}

#currentPlayerImg {
  width: 90px;
  height: 90px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#restartGame {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}

#restartGame img {
  cursor: pointer;
}

.d-none {
  display: none !important;
}

@keyframes animatedGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

table, tr, td {
  border: solid 1px;
}

table.placar {
  width: 100%;
  max-width: 24rem;
  margin: 1rem auto 2rem;
}